.hero {
  padding-top: 5rem;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 15rem;
  gap: 10rem;
}

@media screen and (max-width: 58.75em) {
  .hero-container {
    flex-direction: column;
    align-items: center;
  }
  .hero-profile {
    order: 1;
  }
  .hero-text-box {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 100%;
  }
}

@media screen and (max-width: 43.75em) {
  .hero-container {
    padding: 2rem 5rem;
  }
}

@media screen and (max-width: 26.5625em) {
  .hero-container {
    padding: 1rem;
  }
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.hero-text-box h2 {
  font-size: 2.7rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: capitalize;
}

.hero-text-box p {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1.5rem 0;
  line-height: 2rem;
  letter-spacing: 2px;
}

.hero-text-box button {
  width: 15rem;
  padding: 8px;
  text-transform: capitalize;
  background-color: var(--secondary-color);
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.hero-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-profile img {
  border-radius: 55%;
  width: 25rem;
}

.recent-posts {
  background-color: var(--primary-color);
  padding-bottom: 3rem;
}

.recent-posts-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 15rem;
}

@media screen and (max-width: 43.75em) {
  .recent-posts h4 {
    display: flex;
    text-align: center;
    text-wrap: nowrap;
  }
}

.recent-posts h4 {
  font-size: 1.8rem;
  font-weight: 500;
}

.view-all a {
  text-decoration: none;
  font-size: 1.5rem;
}

@media screen and (max-width: 43.75em) {
  .view-all a {
    display: none;
  }
}

.recent-posts-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15rem;
  gap: 13.7rem;
  row-gap: 3rem;
  flex-wrap: wrap;
}

.recent-posts-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  width: 45rem;
  justify-content: space-between;
}

@media screen and (max-width: 58.75em) {
  .recent-posts-container {
    min-width: 100%;
  }
}

@media screen and (max-width: 43.75em) {
  .recent-posts-main-container {
    padding: 2rem 5rem;
  }
}

@media screen and (max-width: 26.5625em) {
  .recent-posts-main-container {
    padding: 1rem;
  }
}

.recent-posts-container-title h2 {
  font-size: 2rem;
}

.recent-posts-container-date-and-description {
  display: flex;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 1.5rem 0;
}

.recent-posts-container-content {
  font-size: 1.5rem;
}
