.footer {
  display: grid;
  place-content: center;
  background-color: #ebf4f6;
  gap: 3rem;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  size: 30px;
}

.icons a {
  color: #000;
  font-size: 30px;
  text-decoration: none;
  margin-top: 40px;
}

.icons a:hover {
  color: blue;
  font-size: 30px;
  text-decoration: none;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #000;
  margin-bottom: 40px;
}
